django-timescaledb==0.2.13
djongo==1.2.31
django==4.2.2
django-utils-six==2.0
djangorestframework==3.14.0
psycopg2-binary==2.9.6
pandas==2.0.3
pymongo==3.12.3
django-extensions==3.2.3
django-postgres-copy==2.7.3
django-postgres-extra==2.0.8